In [4]:
import pandas as pd
from tabulate import tabulate

# Load the data
file_path = 'ETH-USD.csv'
data = pd.read_csv(file_path)

# Display the data in a tabular format
print(tabulate(data.head(), headers='keys', tablefmt='pretty', showindex=False))

+------------+------------+------------+------------+------------+------------+------------+
|    Date    |    Open    |    High    |    Low     |   Close    | Adj Close  |   Volume   |
+------------+------------+------------+------------+------------+------------+------------+
| 2017-11-09 | 308.644989 | 329.451996 |  307.056   | 320.884003 | 320.884003 | 893249984  |
| 2017-11-10 | 320.67099  | 324.717987 | 294.541992 | 299.252991 | 299.252991 | 885985984  |
| 2017-11-11 | 298.585999 | 319.453003 | 298.191986 |  314.681   |  314.681   | 842300992  |
| 2017-11-12 | 314.690002 | 319.153015 |  298.513   | 307.90799  | 307.90799  | 1613479936 |
| 2017-11-13 | 307.024994 | 328.415009 | 307.024994 | 316.716003 | 316.716003 | 1041889984 |
+------------+------------+------------+------------+------------+------------+------------+

In [5]:
print(data.shape)

(2156, 7)

In [7]:
from tabulate import tabulate

# Display data statistics in a tabular format
print(tabulate(data.describe(), headers='keys', tablefmt='pretty'))

+-------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|       |        Open        |        High        |        Low         |       Close        |     Adj Close      |       Volume       |
+-------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
| count |       2156.0       |       2156.0       |       2156.0       |       2156.0       |       2156.0       |       2156.0       |
| mean  | 1207.2672867328386 | 1242.5767731604824 | 1167.7876199508348 | 1207.6817813641003 | 1207.6817813641003 | 12142712919.398888 |
|  std  | 1129.4090341017688 | 1162.2909402605314 | 1091.7100070452063 | 1128.8596664345714 | 1128.8596664345714 | 10313653403.207739 |
|  min  |     84.279694      |     85.342743      |     82.829887      |     84.308296      |     84.308296      |    621732992.0     |
|  25%  | 226.94063549999998 |     231.753254     |     221.228691     |     227.043842     |     227.043842     |   4611707529.25    |
|  50%  |    762.7890015     |     796.098511     |     726.605499     |    769.2374875     |    769.2374875     |    9370346541.5    |
|  75%  |    1833.8204345    |    1863.013916     | 1798.5461732499998 |   1833.28735375    |   1833.28735375    |   16794019127.0    |
|  max  |    4810.071289     |     4891.70459     |    4718.039063     |    4812.087402     |    4812.087402     |   84482912776.0    |
+-------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+

In [10]:
print(tabulate(data.info(), headers='keys', tablefmt='pretty'))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2156 entries, 0 to 2155
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       2156 non-null   object
 1   Open       2156 non-null   float64
 2   High       2156 non-null   float64
 3   Low        2156 non-null   float64
 4   Close      2156 non-null   float64
 5   Adj Close  2156 non-null   float64
 6   Volume     2156 non-null   int64
dtypes: float64(5), int64(1), object(1)
memory usage: 118.0+ KB

In [ ]:
import matplotlib.pyplot as plt

plt.figure(figsize=(15, 5))
plt.plot(data['Close'])
plt.title('Ethereum Close Price', fontsize=15)
plt.ylabel('Price in Dollars', fontsize=12)
plt.xlabel('Date', fontsize=12)
plt.grid(True)
plt.show()